<nav class="bg-gray-100 py-6 text-black shadow-md text-lg"><!-- nav-bar goes here -->
  <ul class="flex gap-x-1">
    <li>
      <app-nav-tab title="Category" [path]="['/management', 'category']"></app-nav-tab>
    </li>
    <li>
      <app-nav-tab title="Course" [path]="['/management', 'course']"></app-nav-tab>
    </li>
    <li>
      <app-nav-tab title="Student" [path]="['/management', 'student']"></app-nav-tab>
    </li>
    <li>
      <app-nav-tab title="Attendance Rules" [path]="['/management', 'attendance-rules']"></app-nav-tab>
    </li>
  </ul>
</nav>
